In [59]:
import pandas as pd
pd.set_option('display.max_columns', 15)

In [60]:
general_df = pd.read_csv("artifacts/general.csv")
prenatal_df = pd.read_csv("artifacts/prenatal.csv")
sports_df = pd.read_csv("artifacts/sports.csv")
general_df.head(20)

,Unnamed: 0,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
0,0,general,man,33,1.64,66,24.9,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
1,1,general,man,48,1.93,106,28.4,stomach,t,NaN,t,NaN,NaN,NaN,NaN
2,2,general,woman,23,1.54,63,26.8,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
3,3,general,man,27,1.94,103,27.5,stomach,t,NaN,t,NaN,NaN,NaN,NaN
4,4,general,woman,22,1.76,74,24.0,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN
5,5,general,man,46,1.90,96,26.6,heart,t,t,NaN,NaN,NaN,NaN,NaN
6,6,general,woman,68,1.80,85,26.4,stomach,f,NaN,f,NaN,NaN,NaN,NaN
7,7,general,man,35,1.57,61,25.0,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
8,8,general,woman,50,1.86,86,25.0,sprain,NaN,NaN,NaN,NaN,f,NaN,NaN
9,9,general,man,25,1.79,82,25.5,heart,t,t,NaN,NaN,NaN,NaN,NaN
10,10,general,man,27,1.85,86,25.2,heart,t,t,NaN,NaN,NaN,NaN,NaN
11,11,general,man,57,1.86,95,27.5,stomach,f,NaN,f,NaN,NaN,NaN,NaN
12,12,general,man,29,1.88,100,28.6,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN
13,13,general,woman,18,1.70,80,27.8,heart,f,t,NaN,NaN,NaN,NaN,NaN
14,14,general,woman,47,1.80,83,25.9,stomach,t,NaN,f,NaN,NaN,NaN,NaN
15,15,general,woman,51,1.87,103,29.5,cold,f,NaN,NaN,NaN,NaN,NaN,NaN
16,16,general,woman,56,1.56,57,23.8,fracture,NaN,NaN,NaN,NaN,t,NaN,NaN
17,17,general,woman,38,1.62,71,27.3,heart,t,t,NaN,NaN,NaN,NaN,NaN
18,18,general,woman,32,1.72,77,26.3,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
19,19,general,woman,69,1.72,80,27.2,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN

In [61]:
prenatal_df.head(20)

,Unnamed: 0,HOSPITAL,Sex,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
0,0,prenatal,NaN,27.0,1.63,74.0,28.0,pregnancy,t,t,t,NaN,f,0.0,3.0
1,1,prenatal,NaN,18.0,1.70,89.0,31.3,pregnancy,t,t,t,NaN,f,1.0,5.0
2,2,prenatal,NaN,34.0,1.65,67.0,24.9,pregnancy,t,t,t,NaN,f,1.0,5.0
3,3,prenatal,NaN,29.0,1.58,71.0,28.7,pregnancy,t,t,t,NaN,f,2.0,3.0
4,4,prenatal,NaN,33.0,1.51,57.0,25.3,pregnancy,t,t,t,NaN,f,1.0,7.0
5,5,prenatal,NaN,31.0,1.96,101.0,26.3,pregnancy,t,t,t,NaN,f,0.0,3.0
6,6,prenatal,NaN,30.0,1.78,75.0,23.7,pregnancy,t,t,t,NaN,f,0.0,5.0
7,7,prenatal,NaN,19.0,1.70,83.0,28.6,pregnancy,t,t,t,NaN,f,1.0,6.0
8,8,prenatal,NaN,44.0,1.66,68.0,25.0,pregnancy,t,t,t,NaN,f,2.0,6.0
9,9,prenatal,NaN,35.0,1.57,54.0,22.3,pregnancy,t,t,t,NaN,f,0.0,6.0
10,10,prenatal,NaN,41.0,1.75,67.0,22.1,pregnancy,t,t,t,NaN,f,2.0,7.0
11,11,prenatal,NaN,26.0,1.67,71.0,25.8,cold,t,t,t,NaN,f,0.0,7.0
12,12,prenatal,NaN,25.0,1.71,80.0,27.5,pregnancy,t,t,t,NaN,f,1.0,5.0
13,13,prenatal,NaN,41.0,1.59,56.0,22.3,pregnancy,t,t,t,NaN,f,2.0,8.0
14,14,prenatal,NaN,27.0,1.91,90.0,25.0,pregnancy,t,t,t,NaN,f,0.0,6.0
15,15,prenatal,NaN,26.0,1.66,70.0,25.4,pregnancy,t,t,t,NaN,f,2.0,2.0
16,16,prenatal,NaN,16.0,1.60,70.0,27.4,pregnancy,t,t,t,NaN,f,1.0,4.0
17,17,prenatal,NaN,33.0,1.60,64.0,24.9,pregnancy,t,t,t,NaN,f,1.0,9.0
18,18,prenatal,NaN,35.0,1.81,79.0,24.5,pregnancy,t,t,t,NaN,f,1.0,8.0
19,19,prenatal,NaN,30.0,1.65,69.0,25.4,pregnancy,t,t,t,NaN,f,2.0,9.0

In [62]:
sports_df.head(20)

,Unnamed: 0,Hospital,Male/female,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
0,0,sports,female,20.0,5.871,150.0,21.3,sprain,NaN,f,NaN,t,f,NaN,NaN
1,1,sports,female,20.0,6.665,248.0,27.3,dislocation,NaN,f,NaN,f,t,NaN,NaN
2,2,sports,male,16.0,6.960,273.0,27.6,dislocation,NaN,f,NaN,f,t,NaN,NaN
3,3,sports,male,17.0,7.128,269.0,25.9,sprain,NaN,f,NaN,t,f,NaN,NaN
4,4,sports,male,19.0,5.993,209.0,28.4,dislocation,NaN,f,NaN,f,t,NaN,NaN
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,sports,female,14.0,5.793,176.0,25.7,sprain,NaN,f,NaN,t,f,NaN,NaN
7,7,sports,female,22.0,7.351,265.0,24.0,sprain,NaN,f,NaN,t,f,NaN,NaN
8,8,sports,female,21.0,6.059,189.0,25.2,fracture,NaN,f,NaN,f,t,NaN,NaN
9,9,sports,female,18.0,5.338,151.0,26.0,sprain,NaN,f,NaN,t,f,NaN,NaN
10,10,sports,male,12.0,6.164,179.0,23.0,fracture,NaN,f,NaN,f,t,NaN,NaN
11,11,sports,male,15.0,6.181,242.0,31.0,dislocation,NaN,f,NaN,f,t,NaN,NaN
12,12,sports,female,22.0,6.140,211.0,27.4,stomach,NaN,f,NaN,f,f,NaN,NaN
13,13,sports,female,19.0,5.929,184.0,25.6,fracture,NaN,f,NaN,f,t,NaN,NaN
14,14,sports,female,16.0,6.446,230.0,27.1,dislocation,NaN,f,NaN,f,t,NaN,NaN
15,15,sports,female,19.0,6.592,285.0,32.1,dislocation,NaN,f,NaN,f,t,NaN,NaN
16,16,sports,male,18.0,6.746,240.0,25.8,fracture,NaN,f,NaN,f,t,NaN,NaN
17,17,sports,female,18.0,6.083,202.0,26.7,sprain,NaN,f,NaN,t,f,NaN,NaN
18,18,sports,male,19.0,6.968,253.0,25.5,fracture,NaN,f,NaN,f,t,NaN,NaN
19,19,sports,female,17.0,6.183,195.0,25.0,sprain,NaN,f,NaN,t,f,NaN,NaN

In [63]:
suitable_column_names = general_df.columns
prenatal_df.columns = suitable_column_names
sports_df.columns = suitable_column_names

dataframe = pd.concat([general_df, prenatal_df, sports_df], axis=0, ignore_index=True)

dataframe = dataframe.drop(columns=["Unnamed: 0"], axis=1)

dataframe.sample(n=20, random_state=30)

,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
928,sports,male,22.0,5.961,183.0,25.2,sprain,NaN,f,NaN,t,f,NaN,NaN
926,sports,male,26.0,5.804,218.0,31.7,sprain,NaN,f,NaN,t,f,NaN,NaN
901,sports,female,23.0,5.894,199.0,28.0,sprain,NaN,f,NaN,t,f,NaN,NaN
87,general,man,54.0,1.720,78.0,26.4,stomach,f,NaN,t,NaN,NaN,NaN,NaN
884,sports,female,20.0,6.771,244.0,26.0,sprain,NaN,f,NaN,t,f,NaN,NaN
297,general,man,56.0,1.480,54.0,25.1,cold,f,NaN,NaN,NaN,NaN,NaN,NaN
112,general,man,77.0,1.690,77.0,27.1,heart,t,t,NaN,NaN,NaN,NaN,NaN
209,general,man,29.0,2.080,109.0,25.5,stomach,t,NaN,f,NaN,NaN,NaN,NaN
419,general,man,53.0,1.700,78.0,27.2,stomach,t,NaN,t,NaN,NaN,NaN,NaN
913,sports,female,22.0,6.435,250.0,29.5,sprain,NaN,f,NaN,t,f,NaN,NaN
820,sports,female,17.0,5.722,172.0,25.7,dislocation,NaN,f,NaN,f,t,NaN,NaN
861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,general,man,27.0,1.850,86.0,25.2,heart,t,t,NaN,NaN,NaN,NaN,NaN
56,general,man,23.0,1.650,66.0,24.1,heart,f,t,NaN,NaN,NaN,NaN,NaN
618,prenatal,NaN,30.0,1.490,54.0,24.5,pregnancy,t,t,t,NaN,f,0.0,2.0
978,sports,male,17.0,5.647,168.0,25.9,stomach,NaN,f,NaN,f,f,NaN,NaN
373,general,woman,44.0,1.660,78.0,28.7,cold,f,NaN,NaN,NaN,NaN,NaN,NaN
628,prenatal,NaN,24.0,1.610,72.0,27.9,pregnancy,t,t,t,NaN,f,0.0,2.0
858,sports,male,19.0,7.089,295.0,28.7,dislocation,NaN,f,NaN,f,t,NaN,NaN
944,sports,female,21.0,6.217,234.0,29.6,dislocation,NaN,f,NaN,f,t,NaN,NaN

In [64]:
print(f"Data Shape: {dataframe.shape}")

Data Shape: (1006, 14)

In [65]:
dataframe.isnull().sum()

hospital        6
gender        331
age             6
height          6
weight          6
bmi             6
diagnosis       6
blood_test    292
ecg           406
ultrasound    526
mri           792
xray          395
children      681
months        676
dtype: int64

In [66]:
general_df[general_df["gender"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, hospital, gender, age, height, weight, bmi, diagnosis, blood_test, ecg, ultrasound, mri, xray, children, months]
Index: []

In [67]:
sports_df[sports_df["gender"].isna()]

,Unnamed: 0,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
dataframe = dataframe.dropna(axis="rows", how="all")
dataframe.isnull().sum()

hospital        0
gender        325
age             0
height          0
weight          0
bmi             0
diagnosis       0
blood_test    286
ecg           400
ultrasound    520
mri           786
xray          389
children      675
months        670
dtype: int64

In [69]:
dataframe["gender"].fillna("f", inplace=True)

dataframe["gender"].replace({
    "female": "f",
    "woman": "f",
    "male": "m",
    "man": "m"
}, inplace=True)
dataframe.head(10)

C:\Users\Mahdi\AppData\Local\Temp\ipykernel_16400\1637387954.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["gender"].fillna("f", inplace=True)

,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
0,general,m,33.0,1.64,66.0,24.9,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
1,general,m,48.0,1.93,106.0,28.4,stomach,t,NaN,t,NaN,NaN,NaN,NaN
2,general,f,23.0,1.54,63.0,26.8,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
3,general,m,27.0,1.94,103.0,27.5,stomach,t,NaN,t,NaN,NaN,NaN,NaN
4,general,f,22.0,1.76,74.0,24.0,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN
5,general,m,46.0,1.90,96.0,26.6,heart,t,t,NaN,NaN,NaN,NaN,NaN
6,general,f,68.0,1.80,85.0,26.4,stomach,f,NaN,f,NaN,NaN,NaN,NaN
7,general,m,35.0,1.57,61.0,25.0,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
8,general,f,50.0,1.86,86.0,25.0,sprain,NaN,NaN,NaN,NaN,f,NaN,NaN
9,general,m,25.0,1.79,82.0,25.5,heart,t,t,NaN,NaN,NaN,NaN,NaN

In [70]:
columns = ["bmi", "diagnosis", "blood_test", "ecg", "ultrasound", "mri", "xray", "children", "months"]
dataframe[columns] = dataframe[columns].fillna(0)

print(f"Data Shape: {dataframe.shape}")

Data Shape: (1000, 14)

In [71]:
dataframe.isnull().sum()

hospital      0
gender        0
age           0
height        0
weight        0
bmi           0
diagnosis     0
blood_test    0
ecg           0
ultrasound    0
mri           0
xray          0
children      0
months        0
dtype: int64

In [80]:
dataframe.sample(n=20, random_state=30)

,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
929,sports,f,23.0,6.809,259.0,27.3,sprain,0,f,0,t,f,0.0,0.0
927,sports,m,21.0,6.052,172.0,22.9,sprain,0,f,0,t,f,0.0,0.0
516,prenatal,f,20.0,1.650,66.0,24.3,pregnancy,t,t,t,0,f,1.0,4.0
87,general,m,54.0,1.720,78.0,26.4,stomach,f,0,t,0,0,0.0,0.0
885,sports,f,16.0,5.915,188.0,26.3,sprain,0,f,0,t,f,0.0,0.0
463,prenatal,f,34.0,1.650,67.0,24.9,pregnancy,t,t,t,0,f,1.0,5.0
112,general,m,77.0,1.690,77.0,27.1,heart,t,t,0,0,0,0.0,0.0
297,general,m,56.0,1.480,54.0,25.1,cold,f,0,0,0,0,0.0,0.0
417,general,f,26.0,1.650,69.0,25.3,cold,t,0,0,0,0,0.0,0.0
660,prenatal,f,38.0,1.590,70.0,27.6,pregnancy,t,t,t,0,f,1.0,4.0
344,general,f,60.0,1.410,56.0,28.3,stomach,t,0,f,0,0,0.0,0.0
834,sports,f,21.0,5.585,184.0,29.0,fracture,0,f,0,f,t,0.0,0.0
10,general,m,27.0,1.850,86.0,25.2,heart,t,t,0,0,0,0.0,0.0
56,general,m,23.0,1.650,66.0,24.1,heart,f,t,0,0,0,0.0,0.0
616,prenatal,f,33.0,1.770,81.0,25.9,pregnancy,t,t,t,0,f,1.0,7.0
479,prenatal,f,35.0,1.810,79.0,24.5,pregnancy,t,t,t,0,f,1.0,8.0
578,prenatal,f,31.0,1.770,85.0,27.1,pregnancy,t,t,t,0,f,1.0,8.0
411,general,m,26.0,1.610,70.0,27.2,cold,t,0,0,0,0,0.0,0.0
521,prenatal,f,30.0,1.740,74.0,24.7,cold,t,t,t,0,f,1.0,3.0
941,sports,f,25.0,6.208,222.0,28.2,fracture,0,f,0,f,t,0.0,0.0

In [88]:
dataframe["hospital"].value_counts().idxmax()

'general'

In [74]:
dataframe.columns

Index(['hospital', 'gender', 'age', 'height', 'weight', 'bmi', 'diagnosis',
       'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months'],
      dtype='object')

In [ ]:
general_hosp = dataframe.query("hospital == 'general'")
stomach_cases = general_hosp.query("diagnosis == 'stomach'").shape[0]
share = round((stomach_cases / len(general_hosp)) * 100, 3)
share

32.538

In [90]:
sports_hosp = dataframe[dataframe["hospital"] == "sports"]
share = round(
    (sports_hosp["diagnosis"].value_counts(normalize=True).get("dislocation", 0)) * 100, 3
)
share

np.float64(28.505)

In [86]:
sports_hosp = dataframe[dataframe["hospital"] == "sports"]
unknown_cases = (sports_hosp["diagnosis"] == "dislocation").sum()
share = round((unknown_cases / len(sports_hosp)) * 100, 3)
share

np.float64(28.505)

In [92]:
general_hosp_median_age = general_hosp["age"].median()
sports_hosp_median_age = sports_hosp["age"].median()
age_diff = general_hosp_median_age - sports_hosp_median_age
age_diff

np.float64(19.0)

In [105]:
pivt = dataframe.pivot_table(
    index="hospital",
    columns="blood_test",
    aggfunc="count"
)
blood_test_counts = pivt["age"]["t"]
blood_test_counts.idxmax()

'prenatal'